
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 550px}


.navbar {
  background-color: #d3d3d3;
  height: 100%;
}


/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
  width : 200px;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 500px) {
  .row.content {height: auto;}
}


.form-group {

}

#hiddenButton {
  animation: cssAnimation 0s 5s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}
