# IDE
.idea/
*.iml
.vscode/

# git
.git/

# ts
lib/

# node modules
node_modules/

# logs
*.log
logs
results/
reports/
temp_out/
debug.log
coverage
.nyc_output
 
#desktop services store
*DS_Store

# Unix-based specific files
Cache/
CachedData/
CachedExtensions/
CachedExtensionVSIXs/
Code Cache/
Crash Reports/
Dictionaries/
GPUCache/
exthost Crash Reports/
Local Storage/
blob_storage/
Backups/
Network Persistent State
rapid_render.json
storage.json
TransportSecurity

# mkdocs for GitPages
docs-gen

# data privacy
*.local.json
private.key

# typesGeneration
typesTmp

# qmate component tests
entrypoints
myEntrypoints

# JSON doc
reuseApi.json