# registry=http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.milestones.npm/
# @sap:registry=http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.milestones.npm/
# strict-ssl=false
# package-lock=false
